<% provide(:title) %>
<h1>RECIPES</h1>
<p>～レシピアイデア掲載サイト～</p>
<%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %><br><br>
<%= image_tag("top_page.jpg", alt: "top-picture", width: "100%", height: "350px") %>